<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Descarga-un-dataset-de-kaggle" data-toc-modified-id="Descarga-un-dataset-de-kaggle-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Descarga un dataset de kaggle</a></span></li><li><span><a href="#ImpÃ³rtalo-y-haz-un-dataframe" data-toc-modified-id="ImpÃ³rtalo-y-haz-un-dataframe-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>ImpÃ³rtalo y haz un dataframe</a></span></li><li><span><a href="#Haz-una-exploraciÃ³n-de-los-datos" data-toc-modified-id="Haz-una-exploraciÃ³n-de-los-datos-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Haz una exploraciÃ³n de los datos</a></span></li><li><span><a href="#Â¿Tiene-nulos?-Â¿CuÃ¡ntos?-Â¿En-quÃ©-columnas?-Haz-algo-con-ellos-ðŸ™ƒ" data-toc-modified-id="Â¿Tiene-nulos?-Â¿CuÃ¡ntos?-Â¿En-quÃ©-columnas?-Haz-algo-con-ellos-ðŸ™ƒ-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Â¿Tiene nulos? Â¿CuÃ¡ntos? Â¿En quÃ© columnas? Haz algo con ellos ðŸ™ƒ</a></span></li><li><span><a href="#Borra-algunas-filas" data-toc-modified-id="Borra-algunas-filas-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Borra algunas filas</a></span></li><li><span><a href="#Borra-algunas-columnas" data-toc-modified-id="Borra-algunas-columnas-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Borra algunas columnas</a></span></li><li><span><a href="#Escribe-una-funciÃ³n-y-aplÃ­cala-a-alguna-de-las-columnas" data-toc-modified-id="Escribe-una-funciÃ³n-y-aplÃ­cala-a-alguna-de-las-columnas-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Escribe una funciÃ³n y aplÃ­cala a alguna de las columnas</a></span></li><li><span><a href="#Muestra-los-valores-Ãºnicos-de-algunas-columnas" data-toc-modified-id="Muestra-los-valores-Ãºnicos-de-algunas-columnas-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Muestra los valores Ãºnicos de algunas columnas</a></span></li><li><span><a href="#Filtra-los-datos-por-algunos-de-los-valores-que-hay-dentro-de-alguna-columna" data-toc-modified-id="Filtra-los-datos-por-algunos-de-los-valores-que-hay-dentro-de-alguna-columna-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Filtra los datos por algunos de los valores que hay dentro de alguna columna</a></span></li><li><span><a href="#Repite-el-paso-anterior-con-condicionales" data-toc-modified-id="Repite-el-paso-anterior-con-condicionales-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Repite el paso anterior con condicionales</a></span></li><li><span><a href="#Elige-una-columna-y-ponla-como-index" data-toc-modified-id="Elige-una-columna-y-ponla-como-index-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Elige una columna y ponla como index</a></span></li><li><span><a href="#Resetea-el-index" data-toc-modified-id="Resetea-el-index-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Resetea el index</a></span></li><li><span><a href="#DivÃ­delo-en-dos-partes-aleatorias-y-vuÃ©lvelo-a-juntar-Â¿te-atreves-con-filas-o-columnas?-Â¡Â¡prueba!!" data-toc-modified-id="DivÃ­delo-en-dos-partes-aleatorias-y-vuÃ©lvelo-a-juntar-Â¿te-atreves-con-filas-o-columnas?-Â¡Â¡prueba!!-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>DivÃ­delo en dos partes aleatorias y vuÃ©lvelo a juntar Â¿te atreves con filas o columnas? Â¡Â¡prueba!!</a></span></li></ul></div>

# Never say no to panda

![saynotopanda](https://media.giphy.com/media/ToMjGpIYtgvMP38WTFC/giphy.gif)

##Â Descarga un dataset de kaggle

In [1]:
import pandas as pd

## ImpÃ³rtalo y haz un dataframe

In [2]:


df = pd.read_csv("../datasets/BNB-USD.csv")

##Â Haz una exploraciÃ³n de los datos

In [3]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-07-25,0.115203,0.115841,0.101531,0.105870,0.105870,1.452690e+05
1,2017-07-26,0.105893,0.109013,0.099266,0.105138,0.105138,2.003950e+05
2,2017-07-27,0.105108,0.108479,0.100888,0.107737,0.107737,3.444990e+05
3,2017-07-28,0.107632,0.109019,0.101473,0.104067,0.104067,3.425680e+05
4,2017-07-29,0.104782,0.111264,0.101108,0.107811,0.107811,3.402180e+05
...,...,...,...,...,...,...,...
1480,2021-08-13,386.044067,411.170532,383.216766,410.944885,410.944885,1.724230e+09
1481,2021-08-14,410.783539,418.921265,400.752045,409.034485,409.034485,2.023364e+09
1482,2021-08-15,408.982208,414.931000,396.865204,414.595032,414.595032,1.826134e+09
1483,2021-08-16,414.357666,436.618408,411.123260,417.470856,417.470856,2.620571e+09
1484,2021-08-17,416.598572,429.128632,410.275574,422.220764,422.220764,2.716975e+09

In [4]:
df.size

10395

In [5]:
df.shape

(1485, 7)

In [6]:
df.info

<bound method DataFrame.info of             Date        Open        High         Low       Close   Adj Close  \
0     2017-07-25    0.115203    0.115841    0.101531    0.105870    0.105870
1     2017-07-26    0.105893    0.109013    0.099266    0.105138    0.105138
2     2017-07-27    0.105108    0.108479    0.100888    0.107737    0.107737
3     2017-07-28    0.107632    0.109019    0.101473    0.104067    0.104067
4     2017-07-29    0.104782    0.111264    0.101108    0.107811    0.107811
...          ...         ...         ...         ...         ...         ...
1480  2021-08-13  386.044067  411.170532  383.216766  410.944885  410.944885
1481  2021-08-14  410.783539  418.921265  400.752045  409.034485  409.034485
1482  2021-08-15  408.982208  414.931000  396.865204  414.595032  414.595032
1483  2021-08-16  414.357666  436.618408  411.123260  417.470856  417.470856
1484  2021-08-17  416.598572  429.128632  410.275574  422.220764  422.220764

            Volume
0     1.452690e+05
1     2.003950e+05
2     3.444990e+05
3     3.425680e+05
4     3.402180e+05
...            ...
1480  1.724230e+09
1481  2.023364e+09
1482  1.826134e+09
1483  2.620571e+09
1484  2.716975e+09

[1485 rows x 7 columns]>

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,1481.0,5.995044e+01,1.228150e+02,0.099721,1.012630e+01,1.644724e+01,2.837728e+01,6.763159e+02
High,1481.0,6.292519e+01,1.293032e+02,0.101211,1.044790e+01,1.686238e+01,2.905650e+01,6.909319e+02
Low,1481.0,5.692217e+01,1.160446e+02,0.096109,9.773010e+00,1.598308e+01,2.757947e+01,6.314653e+02
Close,1481.0,6.023411e+01,1.231792e+02,0.099867,1.011914e+01,1.646322e+01,2.839345e+01,6.756841e+02
Adj Close,1481.0,6.023411e+01,1.231792e+02,0.099867,1.011914e+01,1.646322e+01,2.839345e+01,6.756841e+02
Volume,1481.0,6.566034e+08,1.473544e+09,9284.000000,5.354030e+07,2.029506e+08,4.041409e+08,1.798295e+10

In [8]:
df.High.max()

690.931946

In [9]:
df.Low.min()

0.096109

## Â¿Tiene nulos? Â¿CuÃ¡ntos? Â¿En quÃ© columnas? Haz algo con ellos ðŸ™ƒ

In [10]:
df.isna().head()

    Date   Open   High    Low  Close  Adj Close  Volume
0  False  False  False  False  False      False   False
1  False  False  False  False  False      False   False
2  False  False  False  False  False      False   False
3  False  False  False  False  False      False   False
4  False  False  False  False  False      False   False

In [11]:
df.isna().count()

Date         1485
Open         1485
High         1485
Low          1485
Close        1485
Adj Close    1485
Volume       1485
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1485 entries, 0 to 1484
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1485 non-null   object
 1   Open       1481 non-null   float64
 2   High       1481 non-null   float64
 3   Low        1481 non-null   float64
 4   Close      1481 non-null   float64
 5   Adj Close  1481 non-null   float64
 6   Volume     1481 non-null   float64
dtypes: float64(6), object(1)
memory usage: 81.3+ KB

## Borra algunas filas

In [13]:
df.drop([0,1,2], axis=0, inplace=True)
df

,Date,Open,High,Low,Close,Adj Close,Volume
3,2017-07-28,0.107632,0.109019,0.101473,0.104067,0.104067,3.425680e+05
4,2017-07-29,0.104782,0.111264,0.101108,0.107811,0.107811,3.402180e+05
5,2017-07-30,0.107935,0.108138,0.103162,0.106414,0.106414,2.242610e+05
6,2017-07-31,0.106828,0.108349,0.101600,0.104250,0.104250,2.403090e+05
7,2017-08-01,0.104595,0.106266,0.096109,0.099867,0.099867,3.004130e+05
...,...,...,...,...,...,...,...
1480,2021-08-13,386.044067,411.170532,383.216766,410.944885,410.944885,1.724230e+09
1481,2021-08-14,410.783539,418.921265,400.752045,409.034485,409.034485,2.023364e+09
1482,2021-08-15,408.982208,414.931000,396.865204,414.595032,414.595032,1.826134e+09
1483,2021-08-16,414.357666,436.618408,411.123260,417.470856,417.470856,2.620571e+09
1484,2021-08-17,416.598572,429.128632,410.275574,422.220764,422.220764,2.716975e+09

##Â Borra algunas columnas

In [14]:
df.drop(['Volume'], axis=1, inplace=True)
df

            Date        Open        High         Low       Close   Adj Close
3     2017-07-28    0.107632    0.109019    0.101473    0.104067    0.104067
4     2017-07-29    0.104782    0.111264    0.101108    0.107811    0.107811
5     2017-07-30    0.107935    0.108138    0.103162    0.106414    0.106414
6     2017-07-31    0.106828    0.108349    0.101600    0.104250    0.104250
7     2017-08-01    0.104595    0.106266    0.096109    0.099867    0.099867
...          ...         ...         ...         ...         ...         ...
1480  2021-08-13  386.044067  411.170532  383.216766  410.944885  410.944885
1481  2021-08-14  410.783539  418.921265  400.752045  409.034485  409.034485
1482  2021-08-15  408.982208  414.931000  396.865204  414.595032  414.595032
1483  2021-08-16  414.357666  436.618408  411.123260  417.470856  417.470856
1484  2021-08-17  416.598572  429.128632  410.275574  422.220764  422.220764

[1482 rows x 6 columns]

## Escribe una funciÃ³n y aplÃ­cala a alguna de las columnas

##Â Muestra los valores Ãºnicos de algunas columnas

In [17]:
display(df.Open.unique())

array([1.07632000e-01, 1.04782000e-01, 1.07935000e-01, ...,
       4.08982208e+02, 4.14357666e+02, 4.16598572e+02])

##Â Filtra los datos por algunos de los valores que hay dentro de alguna columna

##Â Repite el paso anterior con condicionales

## Elige una columna y ponla como index

##Â Resetea el index

## DivÃ­delo en dos partes aleatorias y vuÃ©lvelo a juntar Â¿te atreves con filas o columnas? Â¡Â¡prueba!!